<a href="https://colab.research.google.com/github/yunju-m/ApartmentPrice/blob/main/Apartment_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 우리 동네 아파트 매매 실거래가 분석 프로젝트

In [1]:
!pip install PublicDataReader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting PublicDataReader
  Downloading PublicDataReader-1.0.18-py3-none-any.whl (3.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 21.4 MB/s eta 0:00:00
Collecting xmltodict
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from PublicDataReader) (1.22.4)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from PublicDataReader) (2.25.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from PublicDataReader) (1.3.5)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from PublicDataReader) (4.6.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from PublicDataReader) (4.9.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->PublicDataReader) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->PublicDataReader) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->PublicDataReader) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->PublicDataReader) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->PublicDataReader) (1.26.14)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->PublicDataReader) (4.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->PublicDataReader) (1.15.0)
Installing collected packages: xmltodict, PublicDataReader
Successfully installed PublicDataReader-1.0.18 xmltodict-0.13.0

In [2]:
# 1. 라이브러리 버전 확인
import PublicDataReader as pdr
print(pdr.__version__)

1.0.18

In [22]:
# 2. 공공 데이터 포털 OpenAPI 서비스 인증키 입력하기
serviceKey = "서비스 인증키를 입력하세요."

In [28]:
# 3. 국톡교통부 실거래가 정보 조회 OpenAPI 세션 정의하기
# debug : True이면 모든 메시지 출력, False이면 오류 메시지만 출력 (기본값: False)
api = pdr.TransactionPrice(serviceKey)

In [25]:
sigungu_name = "분당구"
code = pdr.code_bdong()
code.loc[(code['시군구명'].str.contains(sigungu_name, na=False)) &
         (code['읍면동명'].isna())]

     시도코드  시도명  시군구코드     시군구명       법정동코드 읍면동명  동리명      생성일자 말소일자
5152   41  경기도  41135  성남시 분당구  4113500000  NaN  NaN  19910916  NaN

In [29]:
# 특정 년월 자료만 조회하기
df = api.get_data(
    property_type="아파트",
    trade_type="매매",
    sigungu_code="41135",
    year_month="202212",
    )
df.tail()

,지역코드,도로명,법정동,지번,아파트,건축년도,층,전용면적,년,월,...,법정동본번코드,법정동부번코드,법정동시군구코드,법정동읍면동코드,법정동지번코드,일련번호,거래유형,중개사소재지,해제사유발생일,해제여부
49,41135,산운로,운중동,956,산운마을8단지(부영사랑으로),2008,11,59.612,2022,12,...,0956,0000,41135,11500,1,41135-434,중개거래,"경기 성남분당구, 경기 용인기흥구",None,None
50,41135,판교원로82번길,운중동,918,산운마을13단지(태영),2010,17,84.720,2022,12,...,0918,0000,41135,11500,1,41135-477,중개거래,경기 성남분당구,None,None
51,41135,판교원로,운중동,922,산운마을11단지(판교포레라움),2009,5,59.900,2022,12,...,0922,0000,41135,11500,1,41135-466,중개거래,경기 성남분당구,22.12.20,O
52,41135,판교원로,운중동,922,산운마을11단지(판교포레라움),2009,5,59.900,2022,12,...,0922,0000,41135,11500,1,41135-466,중개거래,경기 성남분당구,None,None
53,41135,판교원로82번길,운중동,916,산운마을14단지(경남아너스빌),2009,10,101.250,2022,12,...,0916,0000,41135,11500,1,41135-456,중개거래,경기 성남분당구,None,None

In [30]:
# 특정 기간 자료 조회하기
df = api.get_data(
    property_type="아파트",
    trade_type="매매",
    sigungu_code="41135",
    start_year_month="202212",
    end_year_month="202301",
    )
df.tail()

,지역코드,도로명,법정동,지번,아파트,건축년도,층,전용면적,년,월,...,법정동본번코드,법정동부번코드,법정동시군구코드,법정동읍면동코드,법정동지번코드,일련번호,거래유형,중개사소재지,해제사유발생일,해제여부
174,41135,무지개로,구미동,221,무지개(5단지)(청구),1995,4,85.00,2023,1,...,0221,0000,41135,11400,1,41135-188,중개거래,경기 성남분당구,None,None
175,41135,미금일로,구미동,88,까치마을(2단지)(주공),1995,5,59.98,2023,1,...,0088,0000,41135,11400,1,41135-167,중개거래,경기 성남분당구,None,None
176,41135,무지개로,구미동,221,무지개(5단지)(청구),1995,6,85.00,2023,1,...,0221,0000,41135,11400,1,41135-188,중개거래,경기 성남분당구,None,None
177,41135,판교원로82번길,운중동,918,산운마을13단지(태영),2010,9,84.92,2023,1,...,0918,0000,41135,11500,1,41135-477,중개거래,경기 성남분당구,None,None
178,41135,판교원로82번길,운중동,918,산운마을13단지(태영),2010,28,115.52,2023,1,...,0918,0000,41135,11500,1,41135-477,중개거래,경기 성남분당구,None,None

In [32]:
df.to_excel('result_202210.xlsx') # 파일로 저장